# Server
PORT=3001
NODE_ENV=development
LOG_LEVEL=debug
SERVICE_NAME=notification-api

# Security
ALLOWED_ORIGINS=http://localhost:3000
ENABLE_SWAGGER=true

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/notification_api?schema=public

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=notifications
